.profile__button-editImage {
    box-sizing: border-box;
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 580px) {
    .profile__button-editImage {
        width: 7.5px;
        height: 7.5px;
    }
}